<app>
  <router>
    <sf_navbar></sf_navbar>
    <div>
      <sf_title></sf_title>

      <route path="/">
        <sf_home />
      </route>
      
      <route path="/#login">
        <sf_login />
      </route>
      <route path="/#about">
        <sf_about />
      </route>
      <route path="/#signup">
        <sf_signup />
      </route>
    </div>
  </router>
  <style>
    :host > div {
      display:block;
      padding-top: 40px;
    }
  </style>
</app>
