<sf_navbar>
  <nav>
    <div class="hamburger-menu"><span class="icon">≡</span></div>
    <div><img src="/images/sfweb.svg" width="32px" height="32px" ></div>
    <div><a href="/">S.F. Web</a></div>
    <div><a href="/">Home</a></div>
    <div><a href="/#signup">Sign up</a></div>
    <div><a href="/#login">Login</a></div>
    <div><a href="/#about">About</a></div>
  </nav>
  <script>
  </script>
</sf_navbar>