@font-face {
    font-family: "851tegakizatsu";
    src: url("/fonts/851tegaki_zatsu_normal_0883.eot"); /* IE9 */
    src: url("/fonts/851tegaki_zatsu_normal_0883.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/851tegaki_zatsu_normal_0883.woff") format("woff"), /* chrome, firefox */
    url("/fonts/851tegaki_zatsu_normal_0883.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/851tegaki_zatsu_normal_0883.svg#851tegakizatsu") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


